	.navbar {
		background-color: #333;
		position: relative;
		z-index: 999;
	}

	.navbar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
    background: black;
	}

	.navbar li {
		display: inline-block;
	}

	.navbar li a {
		color: white;
		display: block;
		padding: 10px 20px;
		text-decoration: none;
	}

	/* Style the dropdown menu */
	.navbar ul ul {
		position: absolute;
		top: 100%;
		display: none;
	}

	.navbar ul ul li {
		display: block;
	}

	.navbar li:hover ul {
		display: block;
	}


	}
function black() {
	document.body.style.backgroundColor="black"
}

function blue() {
	document.body.style.backgroundColor="blue"
}

function fuchsia() {
	document.body.style.backgroundColor="fuchsia"
}

function green() {
	document.body.style.backgroundColor="green"
}

function orange() {
	document.body.style.backgroundColor="#c44000"
}

function purple() {
	document.body.style.backgroundColor="purple"
}

function red() {
	document.body.style.backgroundColor="red"
}

function oil() {
	document.body.style.backgroundColor="#808000"
}

function white() {
	document.body.style.backgroundColor="white"
}

function brown() {
	document.body.style.backgroundColor="brown"
}

function yellow() {
	document.body.style.backgroundColor="yellow"
}

function lgreen() {
	document.body.style.backgroundColor="#00ff00"
}
